<sh-loader [loading]="isLoading || !(reedSwitches.length > 0) || !(reedSwitchSensors.length > 0)">
  <div
    *ngIf="!isLoading && reedSwitches.length > 0 && reedSwitchSensors.length > 0"
    class="sh-security__container"
  >
    <div class="sh-security__alarm">
      Alarm details:
      <div class="sh-security__alarm__overview">
        {{ alarmSensor.name }}
        {{ alarmSensor.location }}
      </div>
      <div class="sh-security__alarm__state">
        {{ alarm.state }}
        <button
          (click)="openAlarmModal(alarmSensor._id)"
          class="sh-security__alarm__state__button"
        >Change state</button>
      </div>
    </div>

    <div
      *ngFor="let sensor of reedSwitchSensors; index as i"
      class=sh-security__reed-switch
    >
      <div class="sh-security__reed-switch__overview">
        {{ sensor.name }} {{ sensor.location }}
      </div>
      <div class="sh-security__reed-switch__state">
        {{ reedSwitches[i].isOpened }}
      </div>
    </div>
  </div>
</sh-loader>


