@import "variables";
@import "mixins";

@media(max-width: $max-width) {
  .sh-navbar {
    &__container {
      width: 100%;
      padding: 0 $main-size * 6;
      height: $navbar-height;
      padding-top: $main-size * 4;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: $main-size * 4;
    }

    &__settings {
      @include clear-button;

      &__icon {
        color: var(--black2);
        font-size: $main-size * 6
      }
    }
  }
}
