@import "variables";
@import "mixins";

@media(max-width: $max-width) {
  .sh-navbar {
    &__container {
      width: 100%;
      height: $main-size * 8;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: $main-size * 4;
      margin: $main-size * 2 0;
    }

    &__settings {
      @include clear-button;

      &__icon {
        color: var(--black2);
        font-size: $main-size * 7.5;
      }
    }
  }
}
