@import "variables";
@import "mixins";

.sh-notification-card {
  &__notification {
    color: var(--black);
    margin-bottom: $main-size * 10;
    display: flex;
    flex-direction: column;
    gap: $main-size * 3;
    border: 1px solid var(--white-dirty);
    padding: $main-size * 7;
    border-radius: $border-radius;
  }

  &__wrapper {
    display: flex;
    gap: $main-size;

    &__header {
      font-weight: 700;
    }
  }

  &__button {
    @include default-button;
    margin: $main-size * 3 auto 0 auto;
  }
}
