<sh-loader [loading]="loading">
  @if (sensor) {
    <div class="sh-sensor-details__container">
      <div class="sh-sensor-details__wrapper">
        <div class="sh-sensor-details__title">Sensor details</div>
        <button
          (click)="editSensor()"
          class="sh-sensor-details__edit-button"
        >
          Edit
        </button>
      </div>
      <div class="sh-sensor-details__overview">
        <div class="sh-sensor-details__overview__wrapper">
          <div class="sh-sensor-details__overview__header">Name:</div>
          {{ sensor.name }}
        </div>
        <div class="sh-sensor-details__overview__wrapper">
          <div class="sh-sensor-details__overview__header">Type:</div>
          {{ sensorTypesMap[sensor.type] }}
        </div>
        <div class="sh-sensor-details__overview__wrapper">
          <div class="sh-sensor-details__overview__header">Location:</div>
          {{ sensor.location }}
        </div>
        @if (room) {
          <div class="sh-sensor-details__overview__wrapper">
            <div class="sh-sensor-details__overview__header">Room name:</div>
            {{ room.name }}
          </div>
          @if (room.description) {
            <div class="sh-sensor-details__overview__wrapper">
              <div class="sh-sensor-details__overview__header">Room description:</div>
              {{ room.description }}
            </div>
          }
        }
      </div>
      <div class="sh-sensor-details__history">Sensor History</div>

      <sh-table
        *ngIf="sensorData && sensorData.data.length > 0"
        [totalItemCount]="totalItemCount"
        [tableData]="sensorData"
        [tableColumns]="sensorColumns"
        [isPageable]="true"
        (pageChanged)="handlePageChange($event)"
      />
    </div>
  }
</sh-loader>

