<div class="sh-notifications__container">
  <ng-container *ngIf="unreadNotifications.length > 0 && notificationsSensors.length > 0">
    <div class="sh-notifications__title">Unread Notifications</div>
    <sh-notification-card
      *ngFor="let notification of unreadNotifications; index as i"
      [notification]="notification"
      [sensor]="notificationsSensors[i]"
      (buttonClicked)="markNotificationAsRead(notification._id)"
    />
    <button
      (click)="navigateToAllNotifications()"
      class="sh-notifications__all-button"
    >
      See all notifications
    </button>
  </ng-container>
</div>
