@import "variables";
@import "mixins";

.sh-footer {
  &__container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 $main-size * 6;
    padding-bottom: $main-size * 4;
    height: $footer-height;
  }

  &__item {
    &__icon {
      color: var(--black2);
      font-size: $main-size * 7.5;
    }
  }
}
