@import "variables";

.sh-climate {
  &__container {
    color: var(--black);
  }

  &__wrapper {
    display: flex;
  }

  &__dht-header, &__smoke-header {
    font-size: $main-size * 5;
    margin-bottom: $main-size * 8;
    font-weight: 700;
  }

  &__dht, &__smoke {
    margin-bottom: $main-size * 10;
    display: flex;
    flex-direction: column;
    gap: $main-size * 3;

    &__name {
      font-weight: 700;
      margin-right: $main-size;
    }
  }
}
