@import 'mixins';
@import 'variables';

:host ::ng-deep {
  .mat-icon {
    width: 100%;
    overflow: initial !important;
  }

  .cls-1 {
    fill: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .custom-svg {
    height: 80px !important;
    width: 80px !important;
    fill: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.sh-rooms {
  &__container {
    color: var(--black);
    display: flex;
    flex-direction: column;
    gap: $main-size * 5;
  }

  &__add-room-button {
    @include clear-button;
    @include default-button;
    align-self: end;
  }

  &__rooms-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: $main-size * 4;
    row-gap: $main-size * 3;
    column-gap: $main-size * 3;
  }

  &__room {
    padding: $main-size * 4;
    background-color: var(--white-dirty);
    border-radius: $border-radius;
    height: $main-size * 40;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $main-size * 5;

    &__icon-wrapper {
      width: $main-size * 18;
      height: $main-size * 18;
      background-color: var(--main-background);
      border-radius: 50%;
      display: flex;
      padding: $main-size * 4;
      align-items: center;
    }

    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__name {
      color: var(--black2);
      font-size: $main-size * 4.5;
    }
  }
}
