<sh-loader [loading]="loading">
  <div class="sh-rooms__container">
    <button
      (click)="addRoom()"
      class="sh-rooms__add-room-button"
    >
      Add new room
    </button>
    <div
      *ngIf="rooms.length > 0 else noRoomsTemplate"
      class="sh-rooms__rooms-wrapper"
    >
      <div
        *ngFor="let room of rooms"
        (click)="openRoomDetails(room._id)"
        class="sh-rooms__room"
      >
        <div class="sh-rooms__room__icon-wrapper">
          <mat-icon
            [svgIcon]="roomIconMap[room.roomType]"
            class="sh-rooms__room__icon"
          ></mat-icon>
        </div>
        <div class="sh-rooms__room__name">{{ room.name }}</div>
      </div>
    </div>
  </div>
</sh-loader>

<ng-template #noRoomsTemplate>
  <div class="sh-rooms__no-rooms">
    You have currently no rooms
  </div>
</ng-template>
