<sh-loader [loading]="loading">
  <div class="sh-rooms__container">
    <button
      (click)="addRoom()"
      class="sh-rooms__add-room-button"
    >
      Add new room
    </button>
    <div
      *ngIf="rooms.length > 0 else noRoomsTemplate"
      class="sh-rooms__rooms-wrapper"
    >
      <div
        *ngFor="let room of rooms"
        (click)="openRoomDetails(room._id)"
        class="sh-rooms__room"
      >
        <div class="sh-rooms__room__wrapper">
          <div class="sh-rooms__room__header">Name:</div>
          {{ room.name }}
        </div>
        <div class="sh-rooms__room__wrapper">
          <div class="sh-rooms__room__header">Type:</div>
          {{ room.roomType }}
        </div>
      </div>
    </div>
  </div>
</sh-loader>

<ng-template #noRoomsTemplate>
  <div class="sh-rooms__no-rooms">
    You have currently no rooms
  </div>
</ng-template>
