@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./assets/styles/themes";
@import "./assets/styles/variables";
@import './assets/styles/mixins';

@include modal-styles;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
