@import 'variables';

@mixin clear-button {
  background-color: transparent;
  border: none;
}

@mixin default-button {
  @include clear-button;
  border: 1px solid var(--black);
  color: var(--black);
  border-radius: $border-radius;
  padding: $main-size * 3;
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: center;

  &:disabled {
    opacity: 50%;
  }
}

@mixin default-input {
  height: $main-size * 12.5;
  display: block;
  color: var(--black);
  background: var(--background-color);
  margin-bottom: $main-size * 5;
  border: 1px solid var(--black);
  border-radius: $main-size;
  padding: $main-size * 3;
  font-size: $main-size * 4;
}

@mixin modal-styles {
  .sh-modal {
    color: var(--black);
    background: var(--background-color);
    padding: $main-size * 8;
    width: 80%;
    height: 60%;
    max-width: 800px !important;
    max-height: 600px !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08) !important;
    border-radius: $border-radius;

    .mat-mdc-dialog-surface.mdc-dialog__surface {
      background: var(--background-color) !important;
      box-shadow: none;
    }
  }

  .sh-small-modal {
    max-height: 350px !important;
  }

  .sh-confirm-modal {
    max-height: 250px !important;
  }
}
