<sh-loader [loading]="false">
  <div
    *ngIf="room"
    class="sh-room-details__container"
  >
    <span class="sh-room-details__title">Room details</span>
    <div class="sh-room-details__overview">
      <div class="sh-room-details__overview__wrapper">
        <div class="sh-room-details__overview__header">Name:</div>
        {{ room.name }}
      </div>
      <div class="sh-room-details__overview__wrapper">
        <div class="sh-room-details__overview__header">Description:</div>
        {{ room.description }}
      </div>
      <div class="sh-room-details__overview__wrapper">
        <div class="sh-room-details__overview__header">Room type:</div>
        {{ room.roomType }}
      </div>
    </div>
    <button (click)="assignSensorToRoom()">Assign sensor</button>
    <div
      *ngIf="roomSensors.length > 0 else noSensorsTemplate"
      class="sh-room-details__sensors"
    >
      <div
        *ngFor="let sensor of roomSensors"
        class="sh-room-details__sensors__sensor"
      >
        {{ sensor.name }}
        {{ sensor.location }}
        {{ sensor.type }}
      </div>
    </div>
  </div>
</sh-loader>

<ng-template #noSensorsTemplate>
  <div class="sh-room-details__no-sensors">
    This room does not have any sensors assigned yet.
  </div>
</ng-template>
